* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  height: 210px;
  padding: 40px 50px;
  color: white;
  text-align: center;
  background-color: #424242;
}

body {
  position: relative;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #ffffff;
  /*   margin: 80px; */
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.name {
  text-transform: uppercase;
}

.major {
  color: #22b1a7;
  text-transform: uppercase;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0px;
}

.downloadicon{
  float: right;
}

.downloadBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #22b1a7;
  font-size: 1.7rem;
}

.icons a {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.icons i {
  font-size: 1.7rem;
  margin: 0px 5px;
  cursor: pointer;
  color: #22b1a7;
}

.header img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  transform: translateX(10px);
}

.tittleProfile {
  text-transform: uppercase;
  padding-top: 10px;
}

/* Personal information */

.personalInformation {
  padding: 60px 50px 0px 50px;
  text-align: center;
}

.personalInformation article {
  font-size: 15px;
  position: relative;
  text-align: justify;
  padding: 5px 0px 5px 0px;
}

.btns {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* Education */

.titleEducation {
  text-transform: uppercase;
}

.container-education {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 50px;
}

.education {
  text-align: center;
  padding: 0px;
}

.elementsEducation {
  text-align: start;
  box-shadow: 1px 1px 7px #555;
}

.elementsEducation h3 {
  padding: 10px 15px 0px 15px;
  color: #ffffff;
  /* background-color: #424242; */
  color: #22b1a7;
}

.elementsEducation h4 {
  padding: 0px 15px 10px 15px;
  color: #22b1a7;
/*   background-color: #424242; */
  margin-bottom: 10px;
}

.institution {
  padding: 5px 15px 0px 15px;
  font-weight: 600;
  color: #000000;
}

.locationInstitution {
  font-size: 14px;
  color: #929294;
  padding: 0px 15px 5px 15px;
}

.institution a {
  color: #424242;
}

.certificate a {
  color: #929294
}

.rightDivider .elementsEducation:first-child {
  transform: translateY(75px);
}

/*  Work experience */

.tittle-work {
  text-transform: uppercase;
}

.experience {
  text-align: center;
  padding-top: 90px;
}

.container-experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 50px;
}

.elements {
  text-align: start;
  box-shadow: 1px 1px 7px #555;
}

.elements h3 {
  padding: 10px 15px;
  color: #22b1a7;
  /* background-color: #424242; */
}

.elements .portfolio a {
  color: #424242;
}

.company {
  padding: 10px 15px 0px 15px;
  font-size: 17px;
  font-weight: 600;
}

.location {
  font-size: 14px;
  padding: 0px 15px 10px 15px;
  color: #929294;
}

ul {
  font-size: 15px;
  padding: 5px 35px 15px 35px;
  color: #020202;
}

li {
  padding: 1px;
}

.rightDivider {
  position: relative;
  padding: 10px 0px 0px 15px;
  border-top: solid 1px #b6b6b8;
}

.leftDivider {
  position: relative;
  padding: 10px 15px 0px 0px;
  border-top: solid 1px #b6b6b8;
}

.rightDivider .elements:first-child {
  transform: translateY(60px);
}

/*   Skills */

.tittleSkills {
  text-transform: uppercase;
}

.skills {
  text-align: center;
  padding-top: 70px;
}

.skills h3 {
  color: black;
  margin: 0px;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 50px
}

.IDE,
.Languages,
.languages1 {
  padding: 5px 15px;
  font-weight: 600;
  color: #000000;
}

.Apps,
.portfolio,
.certificate {
  padding: 5px 15px;
  font-weight: 600;
  color: #22b1a7;
}

.container-skills .leftDivider {
  margin-bottom: 60px;
}

.elementSkills {
  text-align: start;
  box-shadow: 1px 1px 7px #555;
}

.elementSkills h3 {
  padding: 10px 15px 10px 15px;
  /* background-color: #00747a; */
  color: #22b1a7;
}

.elementSkills h4 {
  padding: 0px 15px 10px 15px;
  color: #000000;;
 /*  background-color: #00747a; */
  margin-bottom: 10px;
}

.elementSkills .data {
  margin-bottom: 0px;
}

.elementSkills .portfolio a {
  color: #929294;
}

.leftDivider .elementSkills:first-child {
  margin-bottom: 80px;
}

.rightDivider .elementSkills:first-child {
  transform: translateY(60px);
  margin-bottom: 80px;
}

.rightDivider .elementSkills:nth-child(2) {
  transform: translateY(60px);
}

@media (max-width: 500px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .container-education,
  .container-experience,
  .container-skills {
    grid-template-columns: repeat(1, 1fr);
  }

  .icons {
    flex-direction: column;
    align-items: center;
  }

  .btns {
    flex-direction: column;
  }

  .btns button {
    margin-bottom: 10px;
  }
}